NODE_ENV=production
PORT=3001

# Fase 1 (Render + MongoDB Atlas)
# MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/condovia-db

# Fase 2 (VPS — migrazione futura)
# MONGODB_URI=mongodb://condovia_user:PASSWORD@127.0.0.1:27017/condovia-db

JWT_SECRET=
FRONTEND_URL=https://condovia.it
RESEND_API_KEY=
